<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Algunas videos de los mismos discos vendidos en la tienda...</title>
        <meta charset="UTF-8">
    </head>
     <body>
            <a href="ejemplo3.html">Back</a>
            <a href="index.html">Home</a>
            <a href="ejemplo5.html">Next</a><br>
        <div>
                     <h2>Reseña de vinil </h2>   
          <article>
               <header><h3> José José </h3></header>
                <figure>
                     <video width="320" height="240" controls autoplay muted >
                              <source src="../video/A esa-José José _vinilo Lp.mp4" type="video/mp4">
                              Your browser does not support the <code>video</code> tag.
                          </video>
                     <figcaption>investogacion o busqueda hecha en 2024 </figcaption>
                      </figure>
                </article>
         <footer id="piepagina"> Derechos reservados &COPY; 2022 <address style="display:">
 
            <h1 style="text-align: center">_______________________________________________________________________________________</h1>
            <p>La tienda puede proveer esta edición de la cual se muestra en el video...</p>
        </div>

         <br>

    </body>
</html>