<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es">
    <body>
        <section id="contenido">
            <h2>Ejemplos de iframe</h2>
            <article>
                <header><h3>La pagina de discos recomendables</h3></header>
                <iframe src="https://winegogh.es/blog/los-mejores-discos-de-vinilo/" width="700" height="400">
                </iframe>
                <footer>Top de discos recomendados</footer>
                <article>
                </article>
                <header><h3> video de Youtube explicando materiales</h3></header>
               <iframe width="500" height="280"
                    src="https://www.youtube.com/watch?v=Eu6Oi9V8AqQ"
                    title="Youtuber"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
                <footer>Alguien mostrando el material de los disco</footer>
            </article>
        </section>
    </body>
                <div>TODO write content</div>
    </body>
</html>