<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es">
    <body>
        <section id="contenido">
            <h2>Ejemplos de Discos de Vinil</h2>
            <article>
                <header><h3>La pagina de discos recomendables</h3></header>
                <iframe src="https://winegogh.es/blog/los-mejores-discos-de-vinilo/" width="700" height="400">
                </iframe>
                <footer>Top de discos recomendados</footer>
            </article>
        </section>
    </body>
                <div>TODO write content</div>
    </body>
</html>